@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'admin/admin.less';
@import 'base16.less';
@import 'dashboard/dashboard.less';
@import 'main/main.less';
@import 'poll/poll.less';
@import 'modal/modal.less';
// endinjector

.text-base00 { color: @base00; }

.text-base01 { color: @base01; }

.text-base02 { color: @base02; }

.text-base03 { color: @base03; }

.text-red { color: @base08; }

.text-orange { color: @base09; }

.text-yellow { color: @base0A; }

.text-green { color: @base0B; }

.text-light-blue { color: @base0C; }

.text-blue { color: @base0D; }

.text-purple { color: @base0E; }

.text-brown { color: @base0F; }

.base00 { background: @base00; }

.base02 { background: @base02; }

.base03 { background: @base03; }

.base04 { background: @base04; }

.base05 { background: @base05; }

.base06 { background: @base06; }

.red { background: @base08; }

.orange { background: @base09; }

.yellow { background: @base0A; }

.green { background: @base0B; }

.light-blue { background: @base0C; }

.blue { background: @base0D; }

a:hover.blue {
  background: darken(@base0D, 10%);
}

.purple { background: @base0E; }

.brown { background: @base0F; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: @base0C;
  background: @base02;
}

.navbar, .navbar-default .navbar-text, .navbar-default .navbar-nav > li > a, .navbar .navbar-default, .navbar-default .navbar-brand {
  color: @base02;
  background: @base0C;
}

.navbar-default .navbar-nav > li > a:hover, .navbar .navbar-default:hover, .navbar-default .navbar-brand:hover {
  color: @base00;
  background: @base0D;
}

.banner {
  word-wrap: break-word;
  border-bottom: none;
  margin-top: -20px;
  margin-bottom: 20px;
  line-height: 1;
}

.banner {
  h1 {
    letter-spacing: -5px;
    margin: 10px 0;
    font-size: 60px;
  }
  h2 {
    letter-spacing: -1px;
    margin: 10px 0;
  }
  .lead-name {
    margin-bottom: 0;
  }
}

.navbar-default .navbar-brand { letter-spacing: -1px; }

.hero-unit {
  position: relative;
  padding: 15px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  .base00();
}

.no-bot-margin {
  margin-bottom: 0;
}

body { .base06(); }

input[type=radio].with-font {
  display: none;
}
