<div ng-include="'components/navbar/navbar.html'"></div>

<section ng-if="!isLoggedIn()" class="info">
  <header class="hero-unit banner">
    <div class="container">
      <h1 class="text-green">VotePlex</h1>

      <p class="lead text-light-blue">Create custom polls with live results.</p>
      <a class="btn btn-success" ng-if="!isLoggedIn()" href="/signup">Sign up</a>
    </div>
  </header>

  <div class="container">
    <div class="row info">
      <div class="col-lg-4 text-center">
        <i class="fa fa-bolt fa-5x text-yellow"></i>

        <h2>Live Results</h2>
        Live graphs show your poll results immediately in easy to an easy to understand format.
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-globe fa-5x text-green"></i>

        <h2>Works Everywhere</h2>
        Responsive designs to create and view polls on desktop, tablet, and mobile devices.
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-twitter fa-5x text-blue"></i>

        <h2>Social Integration</h2>
        Social share buttons encourage your poll voters to help spread the word.
      </div>
    </div>
  </div>
</section>

<div class="hero-unit banner">
  <div class="container">
    <h2 class="text-green">Recent Polls</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div ng-repeat="poll in recentPolls">
      <div class="list-group">
        <div class="list-group-item blue">
          <h4 class="list-group-item-heading">{{poll.text}}</h4>
          <p class="list-group-item-text">{{poll.creator_name}}</p>
        </div>
        <div class="list-group-item" ng-repeat="choice in poll.choices">
          {{choice.text}}
        <span class="pull-right">
          <i class="fa fa-square-o" ng-if="poll.selected !== choice"></i>
          <i class="fa fa-check-square-o text-green" ng-if="poll.selected === choice"></i>
        </span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>FreeCodeCamp BaseJump | <a href="https://twitter.com/D_Ting">@D_Ting</a></p>
  </div>
</footer>
