<div class="container">
  <div class="row">
    <div class="panel panel-default" ng-repeat="poll in myPolls">
      <a class="poll-list-header" ui-sref="poll({id:poll._id})">
        <div class="panel-heading blue">
          <h3 class="panel-title">{{poll.text}}</h3>
        </div>
      </a>
      <div class="list-group-item poll-list-item" ng-repeat="choice in poll.choices">
        {{choice.text}}
        <span class="badge" ng-class="{green: poll.selected === choice._id}">{{choice.votes.length}}</span>
      </div>
    </div>
  </div>
</div>
