<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-sm-12 hero-unit banner no-bot-margin">
  <h2 class="text-green">{{poll.text}}</h2>

  <p class="lead lead-name text-light-blue">{{poll.creator.name}}</p>
</div>

<div class="container">
  <div class="row  well">
    <div class="col-xs-12 text-center">
      <span tweet="poll.text"></span>
    </div>
    <form name="form">
      <div class="form-group" ng-repeat="choice in poll.choices">
        <div class="input-group" ng-class="{'has-success':poll.selected === choice._id}"
             ng-click="vote.selected = choice._id">
            <span class="input-group-addon">
              <i class="fa fa-check-circle-o fa-lg text-dark-green" ng-if="vote.selected ===  choice._id "></i>
              <i class="fa fa-circle-o fa-lg" ng-if="vote.selected !==  choice._id "></i>
              <input class="with-font" type="radio" name="choice" value="{{choice._id}}" ng-model="vote.selected">
            </span>

          <div class="form-control">
            {{choice.text}}
            <span ng-if="poll.selected || poll.creator._id === currentUserId()"
                  class="badge pull-right"
                  ng-class="{'green': poll.selected === choice._id}">
              {{choice.votes.length}}
            </span>
          </div>
        </div>
      </div>
    </form>
    <button type="button" class="btn" ng-click="vote()"
            ng-class="{'btn-success': !poll.selected, 'btn-info': poll.selected}"
            ng-disabled="pending || !vote.selected || poll.selected && poll.selected === vote.selected">
      {{ poll.selected ? 'Update Vote':'Cast Vote'}}
    </button>
    <button type="button" class="btn btn-warning" ng-click="unvote()"
            ng-if="poll.selected"
            ng-disabled="pending">
      Remove Vote
    </button>
    <button type="button" class="btn btn-danger" ng-click="delete()"
            ng-if="poll.creator._id === currentUserId()"
            ng-disabled="pending">
      Delete Poll
    </button>
    <span class="badge pull-right base03">Total: {{poll.totalVotes}}</span>
  </div>
</div>

<div class="container" ng-if="poll.selected">
  <div class="row  well">
    <div class="poll-list-header" ui-sref="poll({id:poll._id})">
      <div class="panel-heading blue">
        <h3 class="panel-title">Results</h3>
      </div>
      <highchart id="chart1" config="chartConfig"></highchart>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="chart types">
      <div type="button" class="btn green"
           ng-class="{active: chartConfig.options.chart.type === 'bar'}"
           ng-click="chartType('bar')">
        <i class="fa fa-bars"></i>
      </div>
      <div type="button" class="btn light-blue"
           ng-class="{active: chartConfig.options.chart.type ==='column'}"
           ng-click="chartType('column')">
        <i class="fa fa-bars fa-rotate-90"></i>
      </div>
      <div type="button" class="btn purple"
           ng-class="{active: chartConfig.options.chart.type === 'pie'}"
           ng-click="chartType('pie')">
        <i class="fa fa-pie-chart"></i>
      </div>
    </div>
  </div>
</div>
